.collapse__container {
  .collapse__button {
    background-color: #ff5f5f;
    color: white;
    padding: 1em;
    width: 100%;
    border: none;
    text-align: left;
    position: relative;
    cursor: pointer;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 700;
    padding: 10px 20px 10px 15px;
  }

  .collapse__content {
    padding: 0 1em;
    max-height: 0;
    overflow: hidden;
    background-color: #f6f6f6;
    transition: max-height 0.5s ease, padding 0.5s ease;
    &.open {
      max-height: 20em;
      padding: 1em;
    }
  }

  @media (max-width: 479px) {
    .collapse__button {
      font-size: 16px;
      padding: 0.5em 15px;
    }

    .collapse__content {
      font-size: 14px;
    }
  }
}
