.header {
  display: flex;
  justify-content: space-between !important;
  align-items: center;
  margin: auto;
  padding-top: 45px;
  padding-bottom: 50px;
  max-width: 1240px;

  @media (max-width: 479px) {
    margin: 0;
    padding: 0 20px;
  }

  .logo__header {
    width: 10rem;
  }

  // Pour les très petits écrans, par exemple de moins de 480px de large
  @media (max-width: 479px) {
    padding-top: 20px;
    padding-bottom: 27px;

    .logo__header {
      width: 8rem;
    }
  }

  @media (min-width: 480px) and (max-width: 767px) {
    padding-top: 20px;
    padding-bottom: 27px;
    margin: 0 20px;
  }

  @media (min-width: 768px) and (max-width: 1023px) {
    padding-top: 20px;
    padding-bottom: 27px;
    margin: 0 25px;
  }

  @media (min-width: 1024px) and (max-width: 1300px) {
    margin: 0 35px;
  }

  @media (min-width: 1300px) {
    gap: 65vh;
  }
}
