.banner__container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  text-align: center;
}

.banner__about {
  max-width: 100%;
  height: auto;
  max-height: 100%;
  object-fit: cover;
  border-radius: 25px;
}
